@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Sigmar+One&display=swap');

body {
  background: url('https://wallpaperaccess.com/full/5697140.jpg');
  background-size: cover;
  margin: 0;
  font-family: 'Big Shoulders Stencil Display', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  margin-top: 110px;
  color: rgb(255, 255, 255);
  height: 100px;
  border-radius: 10px;
  background: rgb(20, 10, 10);
  font-size: 5rem;
}

.add-edit {
  margin-left: 45%;
  color: rgb(255, 255, 255);
  height: 35px;
  width: 200px;
  border-radius: 10px;
  background: rgb(20, 10, 10);
  text-align: center;
}

.books{
  margin-left: 45%;
  color: rgb(255, 255, 255);
  height: 35px;
  width: 200px;
  border-radius: 10px;
  background: rgb(210, 214, 174);
  text-align: center;
}

input {
  border-radius: 10px;
  height: 25px;
  width: 150x;
}

button {
  background-color: rgb(255, 255, 255);
  color:black; 
  height: 60px;
  margin: 2%;
  cursor: pointer;
}

.favorite-button {
  background-color: white;
  color:black; 
  height: 20px;
  margin: 2%;
  cursor: pointer;
}


.allbooks {
background-color: rgb(252, 252, 252);
 text-align: right;
}


.mybooks {
background-color: rgb(255, 255, 255);
 text-align: left;
}

/* .wrapper {
    display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: flex-start
} */

.first {
   width: 400px;
    float:left; /* add this */
    border: 1px solid rgb(255, 255, 255);
    flex: 0 115 22%;
    margin-left: 460px;
}
.second {
    width: 400px;
    float:left; /* add this */
    border: 1px solid rgb(255, 255, 255);
    flex: 0 115 22%;
    margin-left: 460px;
}
